
body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "header header"
        "content content"               
        "nav nav"             
        "main main"
        "footer footer";

grid-template-rows:  25px 145px 80px 1fr 40px;
grid-template-columns: 1fr
}

header {
    grid-area: header;
    background-color: rgb(148, 13, 13);
    display: flex;
    
}

content {
    grid-area: content;
    background-color: darkred;
    display: flex;
}

.logomarca img {
    display: flex;
    align-items: left;
    margin: 25px 0px 0px 240px;
    width: 100px;    
    border-radius: 10px;
    
}

nav {
    grid-area: nav;
    background: linear-gradient(rgb(32, 30, 30), black);
    display: flex;
}

main {
    grid-area: main;
    background-color: rgb(255, 255, 255);
    display: flex;
}

footer {
    grid-area: footer;
    background: linear-gradient(gray, rgb(194, 194, 194));
    display: flex;
}

h2 {
    display: inline;   
    margin-left: 250px;
    font-size: 13px;
    letter-spacing: 2px;
    color:rgb(255, 255, 255);
    font-family: 'Roboto Slab', serif;
    margin-top: 0px;
    align-items: center;
    
}

h3 {
    display: inline;    
    margin: 0px;
    font-size: 13px;
    letter-spacing: 2px;
    color:rgb(255, 255, 255);
    font-family: 'Roboto Slab', serif;
    align-items: center;
    margin-left: 320px;
}

h4 {       
    margin-left: 40px;
    font-size: 40px;
    letter-spacing: 3px;
    color:rgb(255, 255, 255);
    font-family: 'Roboto Slab', serif;
    margin-top: 45px;
    
}

nav ul { 
    display: flex;          
    font-size: 20px;
    letter-spacing: 2px;
    color:rgb(255, 255, 255);
    font-family: 'Roboto Slab', serif;    
    justify-content: space-between;
    align-items: center;
    list-style: none;
    align-items: center;
    margin-left: 75px;
    gap: 15rem;
    
}

li:hover {
  color: rgb(155, 19, 19);  
  transition-duration:0.15s;
    
}

.logowhatsapp img{
    display: inline;
    align-items: right;
    width: 23px;
    margin-left:8px;
    margin-top: 1.5px;
} 

.logoinstagramtop img {
    display: inline;
    align-items: right;
    width: 23px;
    margin-left: 555px;
    margin-top: 2px;
}

